<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>IOTracks Fog Controller - Home</title>
    <meta name="description" content="just another react + webpack boilerplate">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="main.css">
    <style media="screen">
      html {
        font-family: 'Roboto', sans-serif;
      }

      body {
        line-height: 1.5;
        background: #efefef;
      }

      button span, a span {
        text-transform: none !important;
      }
    </style>
  </head>
  <body>
    <h1>Rat found in the server room, trying to catch it, apologies.</h1>
  </body>
</html>
